

<launch>

  <!-- Arguments -->
  <arg name="map_file" default="$(find me5413_world)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find jackal_navigation)/launch/include/amcl.launch" />

  <!-- move_base with SpiralSTC for coverage -->
  <include file="$(find me5413_world)/launch/move_base_fcpp.launch" />
  <!-- <include file="$(find me5413_world)/launch/move_base.launch" /> -->

  <!-- Keyboard teleop (optional) -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>

  <!-- RViz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find clean_robot)/rviz/turtlebot3_navigation.rviz"/>
  </group>
  
           
  <!-- Custom goal publisher (optional) -->
  <node ns="me5413_world" pkg="me5413_world" type="goal_publisher_node" name="goal_publisher_node" output="screen" />

</launch>

